<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Hello Vue!</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <select  v-model="current">
      <option v-for="topic in topics" v-bind:value="topic.value">
        {{ topic.name }}
      </option>
    </select>
    <div v-for="item in list">{{ item.full_name }}</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
  <script src="main.js"></script>
</body>
</html>